# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.spec

# Logs
*.log

# IDE / editor stuff
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db

# Python project cache
*.cache
*.pytest_cache/
.coverage
tempCodeRunnerFile.py